body {
	padding: 0;
	margin: 0;
	
	background-color: #292929;;
	z-index: 1;
	position: relative;

	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}

header {
	position: fixed;
	z-index: 500;
	width: 100%;
	
}

.select {
	display: flex;
	justify-content: space-around;
	
	background-color: #3a3a3a;
}

.select .place_buttons {
	display: flex;
	justify-content: space-around;
	
	width: 730px;
	height: 60px;
}

.select .place_buttons button { /* Изменение цвета будет в жсе*/
	min-width: 163px;
	height: 44px;
	margin-top: 8px;
	
	background-color: #2e2e2e;
	color: #F0F0F0;
	border-radius: 15px;
	border: none;

	line-height: 44px;
	text-align: center;
	
	cursor: pointer;
	
	transition: transform ease 0.5s;
}

.place_button {

}

.arrow
{
	margin-left: 5px;
}

.building_buttons_select_container {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	z-index: 999; /* Z лол */
}

.floor_buttons_select_container {
	position: absolute;
	top: 210px;
	display: flex;
	justify-content: center;
	width: 100%;
	z-index: 999; /* Z лол */
}

.buttons_select {
	width: 730px;
	display: flex;
	justify-content: space-around;
}

.buttons_select_element
{
	display: inline-block;
	width: 163px;
	position: relative;
}

.buttons_select .menu {
	justify-content: center;

	margin-top: 5px;
	
	color: #F0F0F0;
	background-color: #2E2E2E;
	border-radius: 15px;

	padding: 15px;
	display: none;
}

.building_buttons_select_line
{
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

.floor_buttons_select_line
{
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

.menu .circle
{
	width: 11px;
	height: 11px;
	
	background-color: #F0F0F0;;
	display: inline-block;

	border-radius: 50%;
	margin-right: 5px;
}

.menu .circle.hightlight
{
	background-color: #94F0B9;
}

.buttons_select .clicked {
	visibility: visible;
}

.buildings div:hover {
	transform: scale(1.2);
	cursor: pointer;
}

main {
	display: flex;
	justify-content: center;
	padding-top: 34px;
}

.content {
	display: flex;
  	flex-flow: column wrap;
}

.map_image {
	margin-top: 84px;
	margin-bottom: 80px;
	position: relative;
}

#search {
	position: relative;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
}

#searchBox {
	width: 513px;
	height: 73px;

	padding: 0 34px 0 34px;
	border-radius: 60px;
	border: solid #313131;
	outline: none;

	font-size: 34px;

	background: #313131;
	color: #FFFFFF99;
	font-size: 25px;
}



#searchIcon {
	position: absolute;
	padding: 17px 0;
	right: 120px;
	
	cursor: pointer;
}

.room_highlight{
	position: absolute;
	display: none;
	background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(0, white 50%, transparent 50%), linear-gradient(0, white 50%, transparent 50%);
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	background-size: 8px 3px, 8px 3px, 3px 8px, 3px 8px;
	animation: highlight 0.5s linear infinite;

}

@keyframes highlight {
	from {
		background-position: 0 0, 8px 100%, 0 8px, 100% 0;
	}
	to {
		background-position: 8px 0, 0 100%, 0 0, 100% 8px;
	}
}